{% extends 'base.html' %}

{% block content %}


<div id="content" class="my-account">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                <fieldset>
                    <label>Don't have an account?</label>
                    <div class="field account-sign-in">
                        <p>
                            <a class="btn btn-common btn-sm" href="{% url 'register' %}"><i class="ti-key"></i> Register</a>
                        </p>
                    </div>
                </fieldset>
                <div class="my-account-form">
                    <ul>
                        <li><a href="#0">LOGIN TO YOUR ACCOUNT</a></li>
                    </ul>

                    <!--Login form-->
                    <div id="cd-login" class="is-selected">
                        <div class="page-login-form">

                            <form role="form" class="login-form" method="post" action="{% url 'signin' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <span style="color:red">{{form.username.errors}}</span>
                                    <div class="input-icon">
                                        <i class="ti-email"></i>
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span style="color:red">{{form.password.errors}}</span>
                                    <div class="input-icon">
                                        <i class="ti-lock"></i>
                                        {{form.password}}
                                    </div>
                                </div>
                                <button class="btn btn-common log-btn" type="submit">Login</button>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <label for="rememberme" class="rememberme">
                                            <input name="rememberme" id="rememberme" value="forever" type="checkbox">
                                            Remember Me</label>
                                    </div>
                                    <p class="cd-form-bottom-message"><a href="{% url 'forget-password' %}">Lost your
                                        password?</a></p>
                                </div>
                            </form>
                        </div>
                    </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--end container-->
</div>

{% endblock %}